/ejercicios java/encuentro1_1/nbproject/private/
/ejercicios java/encuentro1_1/build/
/ejercicios java/encuentro2_1/nbproject/private/
/ejercicios java/encuentro2_1/build/
/ejercicios java/encuentro3_guia/nbproject/private/
/ejercicios java/encuentro3_guia/build/
/ejercicios java/guia5_1/nbproject/private/
/ejercicios java/guia5_1/build/